.row {
  font: ;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonStyles {
  width: 60px;
  height: 56px;
}
.buttonStyles:hover {
  cursor: pointer;
}
.fontSize12 {
  height: 16px;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}
.fontSize16 {
  font-size: 24px;
}
.buttonPlusStyles {
  background-color: #b24242;
  color: white;
  border: 2px solid #b24242;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.buttonMinusStyles {
  background-color: white;
  color: #b24242;
  border: 2px solid #b24242;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.counterInputBox {
  width: 60px;
  height: 50px;
  border-color: #b24242;
  border-style: solid;
  border-width: 2px 0px 2px 0px;
  text-align: center;
  font-weight: 900;
  font-size: 21px;
  background-color: #fbe8e8;
  color: #b24242;
}
.counterInputBox:hover {
  border-color: #b24242;
  border-style: solid;
  /* top, right, bottom, left - just like margin and padding */
  border-width: 2px 0px 2px 0px;
}
.row1 {
  display: flex;
}
.column3 {
  margin-right: auto;
  margin-left: auto;
  max-width: 33%;
}
.column34 {
  margin-right: auto;
  margin-left: auto;
  max-width: 33%;
}
.loading {
  display: flex;
  justify-content: center;
}

.loading::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 4px solid #dddddd;
  border-top-color: #000000;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}
.counterInputBox {
  width: 50px;
}
@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
